  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <% if @task.completed %>
    <input type="checkbox" checked>
  <%elsif%>
    <input type="checkbox">
  <% end %>

<br>

<br>
<%= link_to "Edit?", edit_path %>
  <%= link_to "Back to all tasks", tasks_path %>
